@use '../../../shared/const/colors.scss' as c;

form.sender-of-message {
  color: c.$hard-grey;
  display: flex;
  gap: 10px;
  div.entry-zone {
    flex-grow: 1;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    div.editable-message {
      gap: 10px;
      display: none;
      transition: 2s;
      box-sizing: border-box;
      overflow: hidden;
      flex-direction: row;
      border-bottom: 1px solid c.$easy-grey;
      display: none;
      align-items: center;
      padding: 10px;
      &.active {
        display: flex;
      }
      span {
        flex-grow: 1;
        background-color: c.$dark-white;
        border-radius: 5px;
        padding: 5px;
        border-left: 5px solid c.$easy-grey;
        height: 30px;
        box-sizing: border-box;
      }
      svg {
        width: 20px;
        height: 20px;
        path {
          stroke-width: 1.5;
          stroke: c.$hard-grey;
        }
      }
    }
    input {
      border: 0px;
      outline: none;
      padding: 10px;
      margin: auto 0;
      color: inherit;
      font-size: 16px;
    }
  }
  button {
    color: inherit;
    align-self: flex-end;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: white;
  }
}
