@use '../../../shared/const/borders.scss' as b;

div.chat {
  display: grid;
  gap: 10px;
  direction: row;

  border: b.$primary-border;
  padding: 20px;
}

div.message {
  border-radius: 8px;
  padding: 8px;
  color: white;
  &.me {
    background-color: green;
    text-align: right;
    justify-self: right;
  }
  &.notme {
    background-color: grey;
    color: white;
    text-align: left;
    justify-self: left;
  }
  p {
    font-size: 16px;
    margin: 3px;
  }
  h4 {
    margin: 0;
  }
}
