div.page-layout {
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: auto 1fr;
  max-width: 1200px;
  margin: auto;

  &.messenger-layout {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    height: 100vh;
  }
}
