div.page-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: left;
  max-width: 1400px;
  margin: 0 auto;

  &.messenger-layout {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    height: 100vh;
  }
}
