@use '../../../shared/const/borders.scss' as b;
@use '../../../shared/const/colors.scss' as c;

div.my-chats {
  max-width: 380px;
  margin-top: 60px;
  border: b.$primary-border;
  border-bottom: 0;
  max-width: 380px;
  width: 100%;
  box-sizing: border-box;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: flex;
      align-items: center;
      height: 70px;
      box-sizing: border-box;
      padding: 8px;
      transition: 0.1s;
      position: relative;
      &:hover {
        background-color: c.$hard-grey;
      }
      &.actual {
        background-color: c.$hard-grey;
      }
    }
  }
}
