@use '../../../shared/const/borders.scss' as b;
@use '../../../shared/const/colors.scss' as c;

::-webkit-scrollbar {
  background-color: c.$scrollbar-hard-grey;
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: c.$scrollbar-easy-grey;
  border-radius: 5px;
}

div.container-my-chats {
  max-width: 380px;
  width: 100%;
  border: b.$primary-border;
  border-bottom: none;
  margin-top: 60px;
  height: calc(100vh - 60px);
  overflow-y: auto;
  padding: 0;
}
