@use '../../../shared/const/colors.scss' as c;
@use '../../../shared/const/borders.scss' as b;

div.sidebar {
  width: 180px;
  ul {
    padding: 0;
    list-style-type: none;
    margin: 10px 10px 0 10px;

    li {
      height: 30px;
      margin: 0 auto;
      align-content: center;
      &:hover {
        background-color: c.$hard-grey;
      }
      a {
        width: 100%;
        color: white;
        padding: 5px;
        transition: 0.2s;
      }
    }
  }
}

.main-logo {
  display: flex;
  height: 60px;
  border-bottom: b.$primary-border;
  margin: 0 auto;
  img {
    align-self: center;
    display: block;
    height: 40px;
    padding-right: 5px;
  }
}
